@model ProiectTi.Models.Employee

@{
    ViewData["Title"] = "Adăugare angajat";
    Layout = "_Layout";
}

<h4>Date angajat</h4>

<div class="row" style="margin-bottom:100px">
    <div class="col-md-4">
        <form asp-action="@( @Model?.Id is null ? "Create" : "Edit")" enctype="multipart/form-data">
            @if (@Model?.Id is not null)
            {
                <div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" readonly />
                </div>
                @if (@Model?.DisplayPicture is not null)
                {
                    <input asp-for="DisplayPicture.Base64Image" hidden />
                    <input asp-for="DisplayPicture.ContentType" hidden />
                }
            }
            <div id="Procentaje" data-CAS="@ViewData["CAS"]" data-CASS="@ViewData["CASS"]" data-Impozit="@ViewData["Impozit"]" hidden></div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nume" class="control-label"></label>&nbsp;*
                <input asp-for="Nume" class="form-control" required />
                <span asp-validation-for="Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prenume" class="control-label"></label>&nbsp;*
                <input asp-for="Prenume" class="form-control" required />
                <span asp-validation-for="Prenume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubmitPicture" class="control-label"></label>
                <input asp-for="SubmitPicture" class="form-control" style="height:45px" />
            </div>
            <div class="form-group">
                <label asp-for="SalarBaza" class="control-label"></label>&nbsp;*
                <input asp-for="SalarBaza" class="form-control" type="number" required />
                <span asp-validation-for="SalarBaza" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Spor" class="control-label"></label>
                <input asp-for="Spor" class="form-control" type="number" />
                <span asp-validation-for="Spor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PremiiBrute" class="control-label"></label>
                <input asp-for="PremiiBrute" class="form-control" type="number" />
                <span asp-validation-for="PremiiBrute" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrutImpozitabil" class="control-label"></label>
                <input asp-for="BrutImpozitabil" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Impozit" class="control-label"></label>
                <input asp-for="Impozit" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="CAS" class="control-label"></label>
                <input asp-for="CAS" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="CASS" class="control-label"></label>
                <input asp-for="CASS" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Retineri" class="control-label"></label>
                <input asp-for="Retineri" class="form-control" type="number" />
                <span asp-validation-for="Retineri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ViratCard" class="control-label"></label>
                <input asp-for="ViratCard" class="form-control" readonly />
            </div>
            <div class="form-group">
                <input type="submit" value="@(@Model?.Id is null ? "Adăugare":"Actualizare")" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
@{
await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script>
    $(function () {
        const nume = $('#Nume');
        const prenume = $('#Prenume');
        const salarBaza = $('#SalarBaza');
        const spor = $('#Spor');
        const premiiBrute = $('#PremiiBrute');
        const cas = $('#CAS');
        const cass = $('#CASS');
        const impozit = $('#Impozit');
        const brutImpozitabil = $('#BrutImpozitabil');
        const viratCard = $('#ViratCard');
        const retineri = $('#Retineri');
        const procentaje = $('#Procentaje');

        function calculareImpozit() {
            const valoareSalar = salarBaza.val();
            const valoareSpor = spor.val();
            const valoarePremii = premiiBrute.val();
            const procentCas = procentaje.data('cas');
            const procentCass = procentaje.data('cass');
            const procentImpozit = procentaje.data('impozit');


            const sporProcentual = valoareSpor / 100 + 1;
            const totalBrut = valoareSalar * sporProcentual + Number(valoarePremii);

            cas.val((totalBrut * procentCas).toFixed(2)); // setare valoare calculata cas
            cass.val((totalBrut * procentCass).toFixed(2)); // setare valoare calculata cass
            brutImpozitabil.val((totalBrut - cass.val() - cas.val()).toFixed(2)); // setare valoare calculata brut impozitabil
            impozit.val((brutImpozitabil.val() * procentImpozit).toFixed(2)); // setare valoare calculata impozit
            viratCard.val((brutImpozitabil.val() - impozit.val() - retineri.val()).toFixed(2)); // setare valoare calculata pentru valoarea neta primita
        }

        // calculare impozit cand se modifica valorile de baza
        [salarBaza, spor, premiiBrute, retineri].forEach(elem => elem.on('input', calculareImpozit));

        function validare() {
            $("input[type=submit]")
                .prop("disabled", !(salarBaza.val() && nume.val() && prenume.val()));
        }

        // dezactivare button submit cand formularul este invalid
        validare();
        calculareImpozit();
        $('input').on('input', validare);
    });
</script>
}